body {
    margin: 0;
}

.header-section a {
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689CD2;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.header-section {
    display: flex;
    align-items: center;
}

.header-item {
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 5px;
}

.header-item:hover {
    background-color: #ff9900;
    border-radius: 4px;
}

.header-logo {
    font-weight: bold;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 15px;
}

.header-button {
    cursor: pointer;
}

.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.info {
    float: left;
    justify-content: left;
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0;
    padding: 0;
}

img {
    margin-top: 25px;
}

main {
    font-family: 'Times New Roman', Times, serif;
}

.title-main h3 {
    margin-top: -5px;
    font-size: 2em;
    color: #689CD2;
}

.info h1 {
    font-size: 3em;
    color: #689CD2;
}

.about-me {
    font-size: 25px;
}

.contacts {
    font-size: 20px;
    display: block;
}

.contacts a {
    text-decoration: none;
}

.contacts li {
    display: flex;
    align-items: center;

}

li h4 {
    margin-right: 10px;
}

.contacts h3 {
    margin-top: -5px;
    font-size: 1.5em;
    color: #689CD2;
}

.contacts ul {
    font-size: 20px;
}

.skills h2 {
    font-size: 2em;
    color: #689CD2;
}

.skills ul {
    font-size: 20px;
    margin-left: 5px;
    list-style-type: none;
}

ul li {
    margin-top: 10px;
}

.code h2 {
    font-size: 2em;
    color: #689CD2;
}

.code div {
    font-size: 20px;
    margin-left: 50px;
}

.code code {
    font-size: 15px;
}

.works {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    align-items: end;
    list-style-type: none;
}

.portfolio h2 {
    font-size: 2em;
    color: #689CD2;
}

.works h3 {
    font-size: 1.5em;
    color: #0e5db3;
}

.works a {
    text-align: center;
    text-decoration: none;

}

.languages h2 {
    font-size: 2em;
    color: #689CD2;
}

.languages ul {
    font-size: 20px;
    margin-left: 5px;
    list-style-type: none;
}

.education ul {
    font-size: 20px;
    margin-left: 5px;

}

.edu-link {
    text-decoration: none;
}

.education h2 {
    font-size: 2em;
    color: #689CD2;
}

.form-title h2 {
    font-size: 2em;
    color: #689CD2;
    padding-bottom: 5px;
}

.register-title {
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid white;

}

form {
    margin: 0 auto;
    background-color: #689CD2;
    width: 450px;
    height: 500px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
    color: white;
}

.group {
    margin: 10px;
    padding: 5px;
}

label {
    padding-left: 10px;
    text-transform: uppercase;

}

input,
select {
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 20px/20px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}

input .input:focus {
    border: 2px solid white;
    transform: translateX(15px);
    width: 395px;
}

button {
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color: #689CD2;
    background-color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
    border-radius: 20px/20px;
}

button:hover {
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}

footer {
    display: flex;
    font-size: 20px;
    align-items: center;
}

footer p {
    margin: 20px;
}

footer a {
    text-decoration: none;
    margin-left: 50px;
}

footer p {
    color: #689CD2;
    font-weight: bold;
}